<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385344453178-tgbm9vub1m5ahbnfgebfle9mcg4oki97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385344453178-tgbm9vub1m5ahbnfgebfle9mcg4oki97</string>
	<key>API_KEY</key>
	<string>AIzaSyAmyWBEcXyRhNIyFbdVAg0rbcmWQ6Lq8QI</string>
	<key>GCM_SENDER_ID</key>
	<string>385344453178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RNCcalendarEvent</string>
	<key>PROJECT_ID</key>
	<string>testalarmnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>testalarmnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385344453178:ios:cd7783887c76063095d303</string>
</dict>
</plist>